@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

body {
    background: #1f242d;
    color: #fff;
    --main-hue:208;
    --main-color: hsl(var(--main-hue),92%,54%);
    --main-color-hover: hsl(var(--main-hue),77%,48%);
    --text-color: #000;
    --nav-color: hsl(var(--main-hue),17%,79%);
    --bg-color: #fff;
    --light-text-color:#9ca7b6;
    --input-bg:hsla(var(--main-hue),50%,50%,6.5%);
    --input-bg-hover:hsla(var(--main-hue),50%,50%,14%);
    --input-text: #8c9aaf;
    --light-main-color: hsl(var(--main-hue),91%,55%);

}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size:25px;
    color: #fff;
    text-decoration: none;
    font: weight 600;
    cursor: default;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}

.navbar a{
    display: inline-block;
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
    opacity: 0;
    animation: slideTop .5s ease forwards;
    animation-delay: calc(.2*var(--i));
}

.navbar a:hover ,
.navbar a.active {
    color: #0ef;
}


.Home {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px 10% 0;
}





.Projects {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 70px 10% 0;

}

.project {
    margin-bottom: 20px; /* Add spacing between projects */
    border-bottom: 1px solid #ccc; /* Add a border between projects */
    padding-bottom: 20px; /* Add padding to separate projects */
}

.project:last-child {
    border-bottom: none; /* Remove border from the last project */
}


.projects-content h2 {
    font-size: 2em; /* Set font size to h1 (adjust as needed) */
    color: #0ef; /* Change color to #0ef */
    margin-bottom: 20px; /* Increase spacing between "Skills" header and content */
}

.project a {
    display: inline-block;
    padding: 8px 16px; /* Adjust padding as needed */
    border: 2px solid #0ef; /* Add border around the link text */
    border-radius: 4px; /* Add rounded corners to the border */
    color: #0073e6; /* Set color for project links */
    text-decoration: none; /* Remove underline from links */
    margin-top: 10px; /* Add spacing between project details and link */
    box-shadow: 0 0 10px #0ef; /* Add glow shadow effect */
    transition: box-shadow 0.3s ease; /* Add smooth transition for the shadow effect */
}

.project a:hover {
    box-shadow: 0 0 20px #0ef; /* Increase shadow size on hover */
}



.Skills {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px 10% 0;
}

.skills-content h2 {
    font-size: 2em; /* Set font size to h1 (adjust as needed) */
    color: #0ef; /* Change color to #0ef */
    margin-bottom: 20px; /* Increase spacing between "Skills" header and content */
}

.skill-category {
    margin-bottom: 20px; /* Adjust the vertical gap */
    padding-bottom: 20px; /* Add some padding to separate the categories visually */
    border-bottom: 1px solid #ccc; /* Add a border between categories for better separation */
}

.skill-category:last-child {
    margin-bottom: 0; /* Remove margin-bottom for the last skill category */
}

.skill-category p {
    margin-bottom: 10px; /* Adjust the vertical gap between paragraphs */
}


.About {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 70px 10% 0;
    margin-top: 0;
    margin-bottom: 20px;
}

.About h1 {
    font-size: 2rem;
    margin-top: 10px;
    margin-bottom: 10px;
    opacity: 0;
    color: #0ef;
    transform: translateY(-50px);
    transition: opacity 0.5s ease,transform 0.5s ease;

}

.about-content.active h1{
    opacity: 1;
    transform: translateY(0);
}

.home-content{
    max-width: 600px;
}

.home-content h3{
    font-size: 32px;
    font-weight: 700;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: .7s;

}

.home-content h3:nth-of-type(2) {
    margin-bottom: 30px;
    animation: slideTop 1s ease forwards;
    animation-delay: .7s;

}

.home-content h3 span{
    color: #0ef;

}

.home-content h1{
    font-size: 56px;
    font-weight: 700;
    margin: -3px 0;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 1s;

}

.home-content p{
    font-size: 16px;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: .7s;

}

.home-img img{
    max-width: 450px;
    margin-right: -20px;
    opacity: 0;
    animation: zoomIn 1s ease forwards, floatImage 4s ease-in-out infinite;
    animation-delay: 2s,3s;

}

.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #0ef;
    border-radius: 50%;
    font-size: 20px;
    color: #0ef;
    text-decoration: none;
    margin: 30px 15px 30px 0;
    transition: .5s ease;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: clac(.2s * var(--i));
}

.social-media a:hover{
    background: #0ef;
    color: #1f242d;
    box-shadow: 0 0 20px #0ef;

}

.btn {
    display: inline-block;
    padding: 12px 28px;
    background: #0ef;
    border-radius: 40px;
    box-shadow: 0 0 10px #0ef;
    font-size: 16px;
    color: #1f242d;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: .2s;

}

/* KEYFRAMES ANIMATION*/
@keyframes slideRight{
 0%{
    transform: translateX(-100px);
    opacity: 0;

 }  
 100%{
    transform: translateX(0);
    opacity: 1;
 } 
}

@keyframes slideTop{
    0%{
       transform: translateY(100px);
       opacity: 0;
   
    }  
    100%{
       transform: translateY(0);
       opacity: 1;
    } 
   }

   @keyframes slideBottom{
    0%{
       transform: translateY(-100px);
       opacity: 0;
   
    }  
    100%{
       transform: translateY(0);
       opacity: 1;
    } 
   }

   @keyframes slideLeft{
    0%{
       transform: translateX(100px);
       opacity: 0;
   
    }  
    100%{
       transform: translateX(0);
       opacity: 1;
    } 
   }

   @keyframes zoomIn{
    0%{
       transform: scale(0);
       opacity: 0;
   
    }  
    100%{
       transform: scale(1);
       opacity: 1;
    } 
   }

@keyframes floatImage{
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-24px);
    }
    0% {
        transform: translateY(0);
    }
    }

.contact{
    width: 100%;
    overflow: hidden;
    background-color:var(--bg-color);
}

.contact .container{
    height: 100vh;
    min-height: 700px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;

}

.contact .container >div{
    grid-column: 1/2;
    grid-row: 1/2;
}

.left{
    width: 100%;
    max-width: 80rem;
    margin: 0 auto;
    background-color: khaki;
    padding: 65px 1.5rem 0;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    position: relative;
    z-index: 3;
}

.contact-heading h1{
    font-weight: 600;
    color: var(--text-color);
    font-size: 3.25rem;
    line-height: 0.9;
    white-space: nowrap;
    margin-bottom: 1.2rem;

}

.contact-heading h1 span{
    color: var(--main-color);    
}

.text{
    color:var(--light-text-color);
    line-height: 1.1;
    font-size: 1rem;
}

.text a{
    color: var(--main-color);
    transition: .3s;
}


.text a:hover {
    color: var(--main-color-hover);
    transition: .3s;
}

.contact-form{
    display: grid;
    margin-top: 2.55rem;
    grid-template-columns: repeat(2,1fr);
    column-gap: 2rem;
    row-gap: 1rem;
}

.input-wrap.w-100{
    grid-column: span 2;
}

.contact-input{
    width: 100%;
    background-color: var(--input-bg);
    border: none;
    outline: none;
    padding: 1.5rem 1.35rem calc(0.75rem - 2px) 1.35rem;
    font-family: inherit;
    border-radius: 20px;
    color: var(--text-color);
    font-weight: 600;
    font-size: 0.95rem;
    border: 2px solid transparent;
    box-shadow: 0 0 0 0px hsl(var(--main-hue),92%,54% 0.169);
    transition: .3s;
}

.contact-input:hover{
    background-color: var(--input-bg-hover);
}

.input-wrap label{
    position: absolute;
    top: 50%;
    left: calc(1.35rem + 2px);
    transform: translateY(-50%);
    color: var(--light-text-color);
    pointer-events: none;
    transition: .25s;
}

.input-wrap {
    position: relative;
}

.input-wrap .icon{
    position: absolute;
    right: calc(1.35rem + 2px);
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    color: var(--input-text);
    font-size: 1.25rem;
    transition: .3s;
}

textarea.contact-input{
    resize:none;
    width: 100%;
    min-height: 150px;   
}

textarea.contact-input~ label{
    top: 1.2rem;
    transform: none;
}

textarea.contact-input~ .icon{
    top: 1.2rem;
    transform: none;
}

.form-wrapper{
    max-width: 32rem;
}

.input-wrap.focus .contact-input{
    background-color: var(--bg-color);
    border: 2px solid var(--light-main-color);
    box-shadow: 0 0 0 5px hsl(var(--main-hue),91%,55% 0.11);
}


.input-wrap.focus label{
    color: var(--light-main-color);
}


.input-wrap.focus .icon{
    color: var(--light-main-color);
}

.input-wrap.not-empty label{
    font-size: .66rem;
    top: 0.75rem;
    transform: translateY(0);
}

.contact-buttons{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;
    margin-top: 1rem;
    width: 100%;
    grid-column: span 2;

}

.button{
    display: inline-block;
    padding: 1.1rem 2rem;
    background-color: var(--main-color);
    color: #fff;
    border-radius: 40px;
    border: none;
    font-family: inherit;
    font-weight: 500;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s;
}

.button:hover{
    background-color: var(--main-color-hover);
}

.button.upload input{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: red;
    cursor: pointer;
    opacity: 0;

}

.button.upload{
    position: relative;
    background-color: var(--input-bg);
}

.button.upload:hover{
    background-color: var(--input-bg-hover);
}

.button.upload span{
    color: var(--light-text-color);
    
}
